@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  /* overflow: hidden !important; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 18px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-thumb:active {
  background: #7f7f7f;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.ps-collapsed {
  width: 0;
  overflow: hidden;
  display: none;
}

/* Optionally hide any toggle button or close icon when collapsed */
.ps-collapsed {
  display: none;
}

.ps-sidebar-container {
  border: 1px solid #e1e8f0;
  border-radius: 0.5rem;
}

/* .css-1j5upme.ps-broken {
  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 100;
  left: -500px !important;
} */
@media screen and (min-width: 768px) {
  .ps-sidebar-root {
    width: 100% !important;
  }
}
.css-1nhyy4p {
  border-right-width: 0 !important;
}
